@media (max-width: 750px) {
    *{
        text-align: center;
    }
    .container{
       max-width: 90%;
       margin-top: 3rem;
       flex-direction: column;
    }
    .content{
        width: 100%;
        order: 2;
        margin: 5% auto;
    }
    .heading{
        padding: 10px;
        font-size: 2rem;
    }
    .description{
        font-size: 0.9rem;
        margin: 5% 10%;
        text-align: center;
    }
    .stats{
        margin: 10% auto 5% auto;
        justify-content: space-evenly;
        flex-direction: column;
    }
    .stats-div{
        margin: 5%;
    }
    .stats-num{
        font-size: 1.5rem;
    }
    .stats-p{
        font-size: 0.7rem;
    }
    .pic{
        width: 100%;
        order:1;
    }
    .d-img{
        display: none;
    }
    .m-img{
        display: block;
    }
    .pic,.m-img{
        border-radius: 0.5rem 0.5rem 0 0;
    }
    .attribution{
        font-size: 0.7rem;
    }
}
@media (max-width: 295px) {
    *{
        font-size: 0.8rem;
    }
    .heading,.highlight{
        font-size: 1.5rem;
    }
    .heading{
        padding: 10px;
    }
    .description{
        font-size: 1rem;
    }
    .attribution{
        font-size: 0.5rem;
    }
    
}
@media only screen and (min-width: 750px) and (max-width: 1000px) {
    * {
        font-size: 13px;
    }
    main {
        max-width: 90%;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1400px) {
    * {
        font-size: 12px;
    }
}

@media only screen and (min-width: 1700px) and (max-width: 2000px) {
    * {
        font-size: 18px;
    }
}

@media only screen and (min-width: 2000px) {
    * {
        font-size: 20px;
    }
}
