@media (max-width: 990px){
    body{
        text-align: center;
    }
    .container{
        margin: 3rem auto;
        width: 25rem;
        position: static;
        transform: none;
    }
    .pic{
        order: 1;
    }
    img{
        border-radius: 1rem 1rem 0 0;
    }
    .overlay{
        border-radius: 1rem 1rem 0 0;
    }
    .text{
        order: 2;
        padding: 40px 20px 20px 20px;
    }
    .description{
        margin: 30px 0 0 0;
    }
    .popularity{
        margin: 30px 0 0 0;
        flex-direction: column;
    }
    .attribution{
        font-size: 0.5rem;
    }
}
@media (max-width:450px){
    .container{
        margin: 3rem auto;
        width: 15rem;
        position: static;
        transform: none;
    }
    .text{
        margin: 15px 0 0 0;
        padding: 10px;
    }
    .description{
        font-size: 0.7rem;
    }
    .heading{
        font-size: 1rem;
    }
    .popularity{
        flex-direction: column;
    }
    .num{
        font-size: 1rem;
    }
    .s{
        font-size: 0.7rem;
    }
}
