*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: hsl(233, 47%, 7%);
    color: white;
    font-family: 'Inter', sans-serif;

}
main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    max-width: 75%;
    display: flex;
    background-color: hsl(244, 38%, 16%);
    border-radius: 0.5rem;
}
.content{
    width: 50%;
    order: 1;
    margin: 5% 7% 0 5%;
    font-weight: 400;
}
.heading{
    margin-bottom: 3%;
    font-size: 2.5rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 700;
}
.highlight{
    color: hsl(277, 98%, 64%);
    font-weight: 700;
    font-size: 2.5rem;
}
.pic{
    border-radius: 0 0.5rem 0.5rem 0;
    width: 50%;
    order: 2;
    background-color: hsl(277, 90%, 30%);
}
.m-img{
    display: none;
}
.d-img,.m-img{
    border-radius: 0 0.5rem 0.5rem 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    filter: brightness(0.8);
}
.description{
    color: hsla(0, 0%, 100%, 0.75);
    margin: 5% 20% 5% 0;
    line-height: 1.5;
}
.stats{
    margin: 15% 20% 5% 0;
    display: flex;
    justify-content: space-between;
    line-height: 1.5;
}
.stats-num{
    font-size: 1.5rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 700;
}
.stats-p{
    font-size: 0.8rem;
    color: hsla(0, 0%, 100%, 0.75);
}
.attribution{
    margin-top: 3%;
    text-align: center;
    line-height: 1.5;
}
